<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <%= button_to "View Articles", articles_path, method: :get%>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>Hello Article Readers!</h1>